<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>xxx</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
  </head>
  <body>

    <div ng-controller='ctrl'>

      <h1>controlador1</h1>
      <h1>Hola {{persona}}</h1>
      <input type="text" ng-model="persona" value="hola perro">
      <button type="button" ng-click="saludar('seco')" name="saludar">Saludar</button>
    </div>

    <div ng-controller='ctrl2'>

      <h1>TO DO LIST</h1>
      Escriba su tarea: <input type="text" ng-model="tareaActual.tarea" name="" value="">
      Fecha de la tarea: <input type="text" ng-model="tareaActual.fecha" name="" value="">
      <button type="button" ng-click="anadir()" name="button">Añadir Tarea</button>

      <div ng-repeat="t in tareas">
        {{t.tarea}}-{{t.fecha}}
      </div>

    </div>

  </body>
</html>
